@charset "utf-8";
html,body,ul,ol,dl,li,dd,dt,form,input,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}
b,strong,i,em,h1,h2,h3,h4,h5,h6{
	font-weight:500;
	font-style:none;
}
a{
	text-decoration:none;
}
img{
	border:none;
}
ul,ol,li{
	list-style:none;
}
.clearfn:after{
	content:"";
	height:0;
	clear:both;
	overflow:hidden;
	visibility:hidden;
	display:block;
}